In [101]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [102]:
dados = pd.read_csv('ideia_06/car.data',header=None)
colunas = ['buying','maint','doors','persons','lug_boot','safety','evalutation']
dados.columns = colunas
df = dados.copy()

In [103]:
c0 = dados.buying.unique().tolist()
c0.sort()
c0

['high', 'low', 'med', 'vhigh']

In [104]:
c0d = [2,0,1,3]
dfc0 = pd.DataFrame()
dfc0['names'] = c0
dfc0['numbers'] = c0d
dc = pd.Series(dfc0.numbers.values, index=dfc0.names).to_dict()
dc

{'high': 2, 'low': 0, 'med': 1, 'vhigh': 3}

In [105]:
df['buying'] = df['buying'].map(dc)
df

      buying  maint  doors persons lug_boot safety evalutation
0          3  vhigh      2       2    small    low       unacc
1          3  vhigh      2       2    small    med       unacc
2          3  vhigh      2       2    small   high       unacc
3          3  vhigh      2       2      med    low       unacc
4          3  vhigh      2       2      med    med       unacc
...      ...    ...    ...     ...      ...    ...         ...
1723       0    low  5more    more      med    med        good
1724       0    low  5more    more      med   high       vgood
1725       0    low  5more    more      big    low       unacc
1726       0    low  5more    more      big    med        good
1727       0    low  5more    more      big   high       vgood

[1728 rows x 7 columns]

In [106]:
c0 = dados.maint.unique().tolist()
c0.sort()
c0

['high', 'low', 'med', 'vhigh']

In [107]:
c0d = [2,0,1,3]
dfc0 = pd.DataFrame()
dfc0['names'] = c0
dfc0['numbers'] = c0d
dc = pd.Series(dfc0.numbers.values, index=dfc0.names).to_dict()
dc

{'high': 2, 'low': 0, 'med': 1, 'vhigh': 3}

In [108]:
df['maint'] = df['maint'].map(dc)
df

      buying  maint  doors persons lug_boot safety evalutation
0          3      3      2       2    small    low       unacc
1          3      3      2       2    small    med       unacc
2          3      3      2       2    small   high       unacc
3          3      3      2       2      med    low       unacc
4          3      3      2       2      med    med       unacc
...      ...    ...    ...     ...      ...    ...         ...
1723       0      0  5more    more      med    med        good
1724       0      0  5more    more      med   high       vgood
1725       0      0  5more    more      big    low       unacc
1726       0      0  5more    more      big    med        good
1727       0      0  5more    more      big   high       vgood

[1728 rows x 7 columns]

In [109]:
c0 = dados.doors.unique().tolist()
c0.sort()
c0

['2', '3', '4', '5more']

In [110]:
c0d = [0,1,2,3]
dfc0 = pd.DataFrame()
dfc0['names'] = c0
dfc0['numbers'] = c0d
dc = pd.Series(dfc0.numbers.values, index=dfc0.names).to_dict()
dc

{'2': 0, '3': 1, '4': 2, '5more': 3}

In [111]:
df['doors'] = df['doors'].map(dc)
df

      buying  maint  doors persons lug_boot safety evalutation
0          3      3      0       2    small    low       unacc
1          3      3      0       2    small    med       unacc
2          3      3      0       2    small   high       unacc
3          3      3      0       2      med    low       unacc
4          3      3      0       2      med    med       unacc
...      ...    ...    ...     ...      ...    ...         ...
1723       0      0      3    more      med    med        good
1724       0      0      3    more      med   high       vgood
1725       0      0      3    more      big    low       unacc
1726       0      0      3    more      big    med        good
1727       0      0      3    more      big   high       vgood

[1728 rows x 7 columns]

In [112]:
c0 = dados.persons.unique().tolist()
c0.sort()
c0

['2', '4', 'more']

In [113]:
c0d = [0,1,2]
dfc0 = pd.DataFrame()
dfc0['names'] = c0
dfc0['numbers'] = c0d
dc = pd.Series(dfc0.numbers.values, index=dfc0.names).to_dict()
dc

{'2': 0, '4': 1, 'more': 2}

In [114]:
df['persons'] = df['persons'].map(dc)
df

      buying  maint  doors  persons lug_boot safety evalutation
0          3      3      0        0    small    low       unacc
1          3      3      0        0    small    med       unacc
2          3      3      0        0    small   high       unacc
3          3      3      0        0      med    low       unacc
4          3      3      0        0      med    med       unacc
...      ...    ...    ...      ...      ...    ...         ...
1723       0      0      3        2      med    med        good
1724       0      0      3        2      med   high       vgood
1725       0      0      3        2      big    low       unacc
1726       0      0      3        2      big    med        good
1727       0      0      3        2      big   high       vgood

[1728 rows x 7 columns]

In [115]:
c0 = dados.lug_boot.unique().tolist()
c0.sort()
c0

['big', 'med', 'small']

In [116]:
c0d = [2,1,0]
dfc0 = pd.DataFrame()
dfc0['names'] = c0
dfc0['numbers'] = c0d
dc = pd.Series(dfc0.numbers.values, index=dfc0.names).to_dict()
dc

{'big': 2, 'med': 1, 'small': 0}

In [117]:
df['lug_boot'] = df['lug_boot'].map(dc)
df

      buying  maint  doors  persons  lug_boot safety evalutation
0          3      3      0        0         0    low       unacc
1          3      3      0        0         0    med       unacc
2          3      3      0        0         0   high       unacc
3          3      3      0        0         1    low       unacc
4          3      3      0        0         1    med       unacc
...      ...    ...    ...      ...       ...    ...         ...
1723       0      0      3        2         1    med        good
1724       0      0      3        2         1   high       vgood
1725       0      0      3        2         2    low       unacc
1726       0      0      3        2         2    med        good
1727       0      0      3        2         2   high       vgood

[1728 rows x 7 columns]

In [118]:
c0 = dados.safety.unique().tolist()
c0.sort()
c0

['high', 'low', 'med']

In [119]:
c0d = [2,0,1]
dfc0 = pd.DataFrame()
dfc0['names'] = c0
dfc0['numbers'] = c0d
dc = pd.Series(dfc0.numbers.values, index=dfc0.names).to_dict()
dc

{'high': 2, 'low': 0, 'med': 1}

In [120]:
df['safety'] = df['safety'].map(dc)
df

      buying  maint  doors  persons  lug_boot  safety evalutation
0          3      3      0        0         0       0       unacc
1          3      3      0        0         0       1       unacc
2          3      3      0        0         0       2       unacc
3          3      3      0        0         1       0       unacc
4          3      3      0        0         1       1       unacc
...      ...    ...    ...      ...       ...     ...         ...
1723       0      0      3        2         1       1        good
1724       0      0      3        2         1       2       vgood
1725       0      0      3        2         2       0       unacc
1726       0      0      3        2         2       1        good
1727       0      0      3        2         2       2       vgood

[1728 rows x 7 columns]

In [121]:
c0 = dados.evalutation.unique().tolist()
c0.sort()
c0

['acc', 'good', 'unacc', 'vgood']

In [122]:
c0d = [1,2,0,3]
dfc0 = pd.DataFrame()
dfc0['names'] = c0
dfc0['numbers'] = c0d
dc = pd.Series(dfc0.numbers.values, index=dfc0.names).to_dict()
dc

{'acc': 1, 'good': 2, 'unacc': 0, 'vgood': 3}

In [123]:
df['evalutation'] = df['evalutation'].map(dc)
df

      buying  maint  doors  persons  lug_boot  safety  evalutation
0          3      3      0        0         0       0            0
1          3      3      0        0         0       1            0
2          3      3      0        0         0       2            0
3          3      3      0        0         1       0            0
4          3      3      0        0         1       1            0
...      ...    ...    ...      ...       ...     ...          ...
1723       0      0      3        2         1       1            2
1724       0      0      3        2         1       2            3
1725       0      0      3        2         2       0            0
1726       0      0      3        2         2       1            2
1727       0      0      3        2         2       2            3

[1728 rows x 7 columns]

In [124]:
from sklearn.preprocessing import MinMaxScaler
escalonador = MinMaxScaler()
colunas_a_escalonar = colunas.copy()
colunas_a_escalonar.pop()
dfx = escalonador.fit_transform(df[colunas_a_escalonar])
df2 = pd.DataFrame(dfx,columns=colunas_a_escalonar)
df2['evalutation'] = df.evalutation

In [125]:
df2

      buying  maint  doors  persons  lug_boot  safety  evalutation
0        1.0    1.0    0.0      0.0       0.0     0.0            0
1        1.0    1.0    0.0      0.0       0.0     0.5            0
2        1.0    1.0    0.0      0.0       0.0     1.0            0
3        1.0    1.0    0.0      0.0       0.5     0.0            0
4        1.0    1.0    0.0      0.0       0.5     0.5            0
...      ...    ...    ...      ...       ...     ...          ...
1723     0.0    0.0    1.0      1.0       0.5     0.5            2
1724     0.0    0.0    1.0      1.0       0.5     1.0            3
1725     0.0    0.0    1.0      1.0       1.0     0.0            0
1726     0.0    0.0    1.0      1.0       1.0     0.5            2
1727     0.0    0.0    1.0      1.0       1.0     1.0            3

[1728 rows x 7 columns]

In [127]:
dados.to_csv('dados_originais.csv',index=False)
df.to_csv('dados_tratados.csv',index=False)